
<div class="card mt-5">
    <myd-tab (tabChanged)="onTabChanged($event)" [tabItems]="tabs"> </myd-tab>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" *ngIf="selectedTab == 1" id="analyst" role="tabpanel"
        aria-labelledby="analyst-tab">
        <div class="card shadow-sm fade-in mt-3">
                <div class="card-body">
            
            
                    <div class="row mt-3">
                        <div class="col-md-6" *ngIf="userModel">
                            <form name="Form" #userForm="ngForm" method="post" enctype="multipart/form-data" novalidate>
                                <div class="form-group ">
                                    <label for="">User Name </label>
                                    <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="userModel.userName"
                                        #userName="ngModel" name="userName" disabled>
                                </div>
                                <div class="form-group ">
                                    <label for="">First Name <span>*</span> </label>
                                    <label *ngIf="(userForm.submitted || firstName.touched) && !firstName.valid"
                                        class="text-danger float-right">First name is required</label>
                                    <input type="text" class="form-control" placeholder="First Name"
                                        [(ngModel)]="userModel.firstName" #firstName="ngModel" name="firstName" required>
                                </div>
                                <div class="form-group ">
                                    <label for="">Middle Name </label>
                                    <input type="text" class="form-control" placeholder="Middle Name"
                                        [(ngModel)]="userModel.middleName" #middleName="ngModel" name="middleName">
                                </div>
                                <div class="form-group ">
                                    <label for="">Last Name </label>
                                    <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="userModel.lastName"
                                        #astName="ngModel" name="astName">
                                </div>
                                <div class="form-group ">
                                    <label for="">Date Of Birth </label>
                                    <input id="dateOfBirth" class="form-control" bsDatepicker [bsConfig]="bsConfig"
                                        [(ngModel)]="dateOfBirth" name="dateOfBirth">
                                </div>
                                <div class="form-group ">
                                    <label for="">Email </label>
                                    <input type="text" class="form-control" placeholder="Email" [(ngModel)]="userModel.email"
                                        #email="ngModel" name="email">
                                </div>
                                <div class="form-group ">
                                    <label for="">Mobile </label>
                                    <input type="text" class="form-control" placeholder="Mobile" [(ngModel)]="userModel.mobile"
                                        #mobile="ngModel" name="mobile">
                                </div>
                                <div class="form-group ">
                                        <label for="">School Name </label>
                                        <input type="text" class="form-control" placeholder="School Name" [(ngModel)]="userModel.schoolName"
                                            #schoolName="ngModel" name="schoolName">
                                    </div>
                                    <div class="form-group ">
                                            <label for="">Grade </label>
                                            <input type="text" class="form-control" placeholder="Grade" [(ngModel)]="userModel.grade"
                                                #grade="ngModel" name="grade">
                                        </div>

            
                                <div class="form-group ">
                                    <label for="">Address<span>*</span> </label>
                                    <label *ngIf="(userForm.submitted || address.touched) && !address.valid"
                                        class="text-danger float-right">Address is required</label>
                                    <input type="text" class="form-control" placeholder="Address" [(ngModel)]="userModel.address"
                                        #address="ngModel" name="address" required>
                                </div>
                                <div class="form-group " *ngIf="countries && countries.length>0">
                                    <label for="">Country </label>
            
                                    <ng-select [items]="countries" [(ngModel)]="userModel.countryId"
                                        (change)="onCountryChange($event)" bindLabel="name" bindValue="id" name="country"
                                        [ngModelOptions]="{standalone: true}" class="custom form-control">
                                    </ng-select>
            
                                </div>
                                <div class="form-group " *ngIf="states && states.length>0">
                                    <label for="">State </label>
                                    <ng-select [items]="states" [(ngModel)]="userModel.stateId" name="state" bindLabel="name"
                                        [ngModelOptions]="{standalone: true}" bindValue="id" class="custom form-control">
                                    </ng-select>
                                </div>
                                <div class="form-group ">
                                    <label for="">Zip Code </label>
            
                                    <input type="text" class="form-control" placeholder="Zip Code" [(ngModel)]="userModel.zipCode"
                                        #zipCode="ngModel" name="zipCode" required>
                                </div>
                                <div class="form-group custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="isParent"
                                        [(ngModel)]="userModel.isParent">
                                    <label class="custom-control-label" for="customCheck1">Are you parent who is registering for
                                        your child</label>
                                </div>
                                <div class="form-group custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2"
                                        name="isAutoAccountTransfer" [(ngModel)]="userModel.isAutoAccountTransfer">
                                    <label class="custom-control-label text-wrap" for="customCheck2">Would you like to automatically
                                        give possession
                                        of records <br> and access to child when he is 13
                                        years old</label>
                                </div>
                                <div class="form-group" *ngIf="userModel.isParent">
                                    <input type="text" class="form-control" placeholder="Child Email"
                                        [(ngModel)]="userModel.childEmail" #childEmail="ngModel" name="childEmail" required>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                                <button class="btn btn-primary ripple float-left btn-w-100">Cancel</button>
                                <button class="btn btn-primary ripple float-right btn-w-100" (click)="onDone()">Done</button>
                        </div>
                            
                    </div>
                </div>
            </div>
    </div>
    <div class="tab-pane fade show active" *ngIf="selectedTab == 2" id="analyst" role="tabpanel"
        aria-labelledby="analyst-tab">
    </div>
    <div class="tab-pane fade show active" *ngIf="selectedTab == 3" id="analyst" role="tabpanel"
        aria-labelledby="analyst-tab">
    </div>
</div>