<div class="card" style="margin-top: 49px;">
    <myd-tab (tabChanged)="onTabChanged($event)" [tabItems]="tabs"> </myd-tab>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" *ngIf="selectedTab == 1" id="analyst" role="tabpanel"
        aria-labelledby="analyst-tab">
        <div class="card shadow-sm fade-in mt-3">
            <div class="card-body pt-0 pr-0" [style.height.px]="cardHeight" style="overflow-y:auto;">
                <div class="row m-0">
                    <ng-template ngFor let-match [ngForOf]="upcomingMatches" let-index="index">
                        <div class="col-3 margin-top pl-0">
                            <div class="card shadow-sm">
                                <div class="card-header m-0 text-center text-white bg-secondary" style="height:46px;"> {{match.leagueName}}
                                </div>
                                <div class="card-body px-2">
                                    <div class="row m-0" *ngIf="match.isTeamMatch">
                                        <div class="col-5 pr-0">
                                            <strong>{{match.teamAName}}</strong>
                                        </div>
                                        <div class="col-2 p-0 text-center">
                                            VS
                                        </div>
                                        <div class="col-5 text-right">
                                            <strong>{{match.teamBName}}</strong>
                                        </div>
                                    </div>
                                    <div class="row p-0 m-0" *ngIf=" !match.isTeamMatch">
                                        <div class="col text-center">
                                            <strong>{{match.userAFullName}}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span style="vertical-align :-webkit-baseline-middle">{{match.venue}}</span>
                                    <span *ngIf="!match.isMatchFinished">
                                        <button class="btn btn-warning ripple nav-button float-right text-light"
                                            type="button" (click)="onMatchScoreEdit(match)" style="margin-left:5px;">
                                            Match Score <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </span>
                                    <span style="margin-left: 5px;" *ngIf="match.isMatchFinished">
                                        <button class="btn btn-primary ripple nav-button float-right" type="button"
                                            (click)="onMatchScoreResult(match)">
                                            Match Result <i class="far fa-eye"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show active" *ngIf="selectedTab == 2" id="analyst" role="tabpanel"
        aria-labelledby="analyst-tab">
        <div class="card shadow-sm fade-in mt-3">
            <div class="card-body pt-0 pr-0" [style.height.px]="cardHeight" style="overflow-y:auto;">
                <div class="row m-0">
                    <ng-template ngFor let-match [ngForOf]="pastMatches" let-index="index">
                        <div class="col-3 margin-top pl-0">
                            <div class="card shadow-sm">
                                <div class="card-header m-0 text-center text-white bg-secondary" style="height:46px;"> {{match.leagueName}}
                                </div>
                                <div class="card-body px-2">
                                    <div class="row m-0" *ngIf="match.isTeamMatch">
                                        <div class="col-5 pr-0">
                                            <strong>{{match.teamAName}}</strong>
                                        </div>
                                        <div class="col-2 p-0 text-center">
                                            VS
                                        </div>
                                        <div class="col-5 text-right">
                                            <strong>{{match.teamBName}}</strong>
                                        </div>
                                    </div>
                                    <div class="row p-0 m-0" *ngIf=" !match.isTeamMatch">
                                        <div class="col text-center">
                                            <strong>{{match.userAFullName}}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span style="vertical-align :-webkit-baseline-middle">{{match.venue}}</span>
                                    <span *ngIf="!match.isMatchFinished">
                                        <button class="btn btn-warning ripple nav-button float-right text-light"
                                            type="button" (click)="onMatchScoreEdit(match)" style="margin-left:5px;">
                                            Match Score <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </span>
                                    <span style="margin-left: 5px;" *ngIf="match.isMatchFinished">
                                        <button class="btn btn-primary ripple nav-button float-right" type="button"
                                            (click)="onMatchScoreResult(match)">
                                            Match Result <i class="far fa-eye"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>