.login {
    padding-top: 65px;
}

.card.card-login
{
    min-height: 350px;
    background: #fff;
}


/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom : 30px;
  }
  
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
  
    /*stacking fieldsets above each other*/
    position: relative;
  }
  
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  
  /*inputs*/
  #msform .form-group input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }
  
  #msform .form-group input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
  }
  
  /*buttons*/
  #msform .action-button {
    width: 150px;
    background: linear-gradient(198deg, #937fe4, #c53d3dfa);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  
  #msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
  }
  
  /*headings*/
  .fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }

  .login-block{
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(198deg, #937fe4, #c53d3dfa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(198deg, #937fe4, #c53d3dfa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 3% 10%;
}
.banner-sec{
  background:url('src/assets/images/login/forgot-pass-banner.jpg')  no-repeat left bottom; 
  background-size:cover; 
  min-height:500px; 
  padding:0;
}

.container{
  background:#fff; 
  border-radius: 10px; 
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

  /* box-shadow:15px 20px 0px rgba(0,0,0,0.1); */
}

.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}

.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}

