<div class="container-fluid login bg-transparent">
    <!-- <div id="login-background" class="bg-gradient"
        style="background-image:url('../assets/images/bg1.jpg');  background-color: #2F3238;"></div>
    <div id="login-overlay"></div>
    <div class="login-card-background">
    </div>
    <div class="card card-login text-white">
        <div class="card-body">
            <div class="clearfix mb-5">

                <h1 class="card-title text-center">Change Password</h1>
            </div> -->
    <div class="row ">
        <div class="col-3">

        </div>
        <div class="col-6 card card-login">
            <form id="msform" name="Form" #userForm="ngForm" method="post" enctype="multipart/form-data" novalidate>
                <fieldset>
                    <h2 class="fs-title">Forgot Password</h2>
                    <div class="form-group text-left">
                        <label for="">Email/User Name <span>*</span> </label>
                        <label *ngIf="(userForm.submitted || UserName.touched) && !UserName.valid"
                            class="text-danger float-right">Email/User Name is required</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp"
                            placeholder="Email/User name" [(ngModel)]="forgotPasswordModel.UserName" #UserName="ngModel"
                            name="UserName" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="">Password <span>*</span> </label>
                        <label *ngIf="(userForm.submitted || password.touched) && !password.valid"
                            class="text-danger float-right">Password is required</label>
                        <input type="password" class="form-control" placeholder="Password" name="password"
                            [(ngModel)]="forgotPasswordModel.password" #password="ngModel" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="">Confirm Password <span>*</span> </label>
                        <label *ngIf="(userForm.submitted || confirmPassword.touched) && !confirmPassword.valid"
                            class="text-danger float-right">Confirm Password is required</label>
                        <label
                            *ngIf="(confirmPassword.valid) && (forgotPasswordModel.confirmPassword != forgotPasswordModel.password)"
                            class="text-danger float-right">
                            Confirm password should be same as Password</label>

                        <input type="password" class="form-control" placeholder="Confirm Password"
                            name="confirmPassword" [(ngModel)]="forgotPasswordModel.confirmPassword"
                            #confirmPassword="ngModel" required validateEqual="password">
                    </div>
                    <div class="form-group mb-3">
                        <div class="row m-0 ">
                            <div class="col-6">
                                <!-- <button (click)="onLogin()" type="button" class="btn btn-primary float-left">Login
                                </button> -->
                            </div>
                            <div class="col-6 p-0">
                                <button [disabled]="loading" type="submit" class="btn btn-primary float-right "
                                    (click)="userForm.form.valid && isConfirmedPasswordMatched() && onChangePassword()">Change
                                    Passowrd
                                    <i class="far fa-long-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-3">

        </div>

    </div>
    <!-- <form name="Form" #userForm="ngForm" method="post" enctype="multipart/form-data" novalidate>

        <div class="form-group">
            <label for="">Email/User Name <span>*</span> </label>
            <label *ngIf="(userForm.submitted || UserName.touched) && !UserName.valid"
                class="text-danger float-right">Email/User Name is required</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Email/User name"
                [(ngModel)]="forgotPasswordModel.UserName" #UserName="ngModel" name="UserName" required>


        </div>
        <div class="form-group">
            <label for="">Password <span>*</span> </label>
            <label *ngIf="(userForm.submitted || password.touched) && !password.valid"
                class="text-danger float-right">Password is required</label>
            <input type="password" class="form-control" placeholder="Password" name="password"
                [(ngModel)]="forgotPasswordModel.password" #password="ngModel" required>
        </div>
        <div class="form-group">
            <label for="">Confirm Password <span>*</span> </label>
            <label *ngIf="(userForm.submitted || confirmPassword.touched) && !confirmPassword.valid"
                class="text-danger float-right">Confirm Password is required</label>
            <label
                *ngIf="(confirmPassword.valid) && (forgotPasswordModel.confirmPassword != forgotPasswordModel.password)"
                class="text-danger float-right">
                Confirm password should be same as Password</label>

            <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"
                [(ngModel)]="forgotPasswordModel.confirmPassword" #confirmPassword="ngModel" required
                validateEqual="password">

        </div>
        <div class="form-group clearfix mb-3">
            <button (click)="onLogin()" type="button" class="btn btn-link pl-0 text-white">Login
            </button>
            <button [disabled]="loading" type="submit" class="btn btn-primary float-right "
                (click)="userForm.form.valid && isConfirmedPasswordMatched() && onChangePassword()">Change Passowrd
                <i class="far fa-long-arrow-right"></i></button>
        </div>

    </form> -->

    <!-- </div>
    </div> -->
</div>