<div class="container-fluid px-0 login bg-transparent">
    <section class="login-block">
            <div class="row">
                <div class="col-md-5 banner-sec">
                    <div class="text-white p-5" style="margin-top:30%; background : rgba(0,0,0,0.5)">
                        <h2>This is Heaven</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation</p>
                    </div>
                </div>
                <div class="col-md-7 card card-login login-sec">
                    <form id="msform" name="Form" #userForm="ngForm" method="post" enctype="multipart/form-data"
                        novalidate>
                        <fieldset>
                            <h2 class="fs-title">Forgot Password</h2>
                            <div class="form-group text-left">
                                <label for="">Email/User Name <span>*</span> </label>
                                <label *ngIf="(userForm.submitted || UserName.touched) && !UserName.valid"
                                    class="text-danger float-right">Email/User Name is required</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    placeholder="Email/User name" [(ngModel)]="forgotPasswordModel.UserName"
                                    #UserName="ngModel" name="UserName" required>
                            </div>
                            <div class="form-group text-left">
                                <label for="">Password <span>*</span> </label>
                                <label *ngIf="(userForm.submitted || password.touched) && !password.valid"
                                    class="text-danger float-right">Password is required</label>
                                <input type="password" class="form-control" placeholder="Password" name="password"
                                    [(ngModel)]="forgotPasswordModel.password" #password="ngModel" required>
                            </div>
                            <div class="form-group text-left">
                                <label for="">Confirm Password <span>*</span> </label>
                                <label *ngIf="(userForm.submitted || confirmPassword.touched) && !confirmPassword.valid"
                                    class="text-danger float-right">Confirm Password is required</label>
                                <label
                                    *ngIf="(confirmPassword.valid) && (forgotPasswordModel.confirmPassword != forgotPasswordModel.password)"
                                    class="text-danger float-right">
                                    Confirm password should be same as Password</label>

                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    name="confirmPassword" [(ngModel)]="forgotPasswordModel.confirmPassword"
                                    #confirmPassword="ngModel" required validateEqual="password">
                            </div>
                            <div class="form-group mb-3">
                                <div class="row m-0 ">
                                    <div class="col-6">
                                        <!-- <button (click)="onLogin()" type="button" class="btn btn-primary float-left">Login
                                </button> -->
                                    </div>
                                    <div class="col-6 p-0">
                                        <button [disabled]="loading" type="submit" class="btn action-button float-right"
                                            (click)="userForm.form.valid && isConfirmedPasswordMatched() && onChangePassword()">Change
                                            Passowrd
                                            <i class="far fa-long-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
    </section>
</div>