<!-- <div id="return-to-top" (click)="backToTop($event)">
  <i class="fa fa-angle-up"></i>
</div>
<nav id="top-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header padding-top-10">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#">
        <img src="assets/images/ipartner-logo.png" class="pointer" height="50" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="topnavbar">
      <ul class="nav navbar-nav navbar-right pointer">
        <li class="dropdown onHover" *ngFor="let menu of menus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a *ngIf="!menu.submenus" [routerLink]="menu.url" (click)="onClick(menu.url, $event)"> {{menu.value}} </a>
          <a *ngIf="menu.submenus" class="dropdown-toggle" data-toggle="dropdown"> {{menu.value}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" *ngIf="menu.submenus">
            <li *ngFor="let smenu of menu.submenus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="smenu.url" (click)="onClick(menu.url, $event)">{{smenu.value}}</a>
            </li>
          </ul>
        </li>
        <li class="change-language">
          <select2 id="languageselector" [data]="language" (valueChanged)="valueChanged($event)" [value]="selectedLanguage" [options]="options"
            [width]="105" [cssImport]="true"></select2>
        </li>
      </ul>
    </div>
  </div>
</nav> -->




<div class="fixed-navbar nav-fix border-bottom">
  <div class="navbar-lockup nav-fix">
    <div class="logo">
      <a href="#"><img src="./assets/images/premier_logo.png" alt="Fitness"></a>
    </div>
    <ul class="nav">
      <li><a href="#"><b>Baseball & Softball</b></a></li>
      <li><a href="#"><b>Other Sports</b></a></li>
      <li><a href="#"><b>Search</b></a></li>
      <li><a (click)="onUrlCilck('login')"><b>Login</b></a></li>
    </ul>
  </div>
</div>