

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 11;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.fixed-navbar.nav-fix.transparent {
    background-color: transparent;
    height: 65px
}

.fixed-navbar.nav-fix {
    background-color: #fff;
    height: 65px
}

.fixed-navbar.nav-open {
    left: -180px
}

@media (max-width: 1024px) {
    .fixed-navbar {
        height: 80px
    }
}

.navbar-lockup {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 30px;
    line-height: 120px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.navbar-lockup.nav-fix {
    line-height: 65px
}

.navbar-lockup .logo {
    float: left
}

.navbar-lockup .logo img {
    width: 100px
}

.navbar-lockup .nav {
    float: right;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.navbar-lockup .nav li {
    display: inline-block;
    margin-right: 65px
}

.navbar-lockup .nav li:last-child {
    margin-right: 0
}

.transparent .navbar-lockup .nav li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .8px;
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.black-header .navbar-lockup .nav li a {
    color: #2c2c2c;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .8px;
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}


.navbar-lockup .nav li a:hover {
    color: #4c5261;
    text-decoration: none
}

.hidden {
    display: none;
}
