<div class="row">
    <div class="col border-bottom-0">
        <command-bar>
            <div class="form-row">
                <div class=" form-group col-1 mb-0">

                </div>
                <div class="form-group col-4 mb-0">

                </div>
                <div class="form-group col-4 mb-0">

                </div>
                <div class="form-group col-3 mb-0">

                    <button class="btn btn-primary ripple nav-button float-right" type="button"
                        (click)="onAddteamPlayer()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </command-bar>
    </div>
</div>
<div class="row">
    <div class="col  margin-top">
        <div class="card shadow-sm">
            <myd-list #mydList [dataSource]="teamPlayers" [serverSidePagination]="true" [totalRecord]="totalRecords"
                [headerItems]="headerItems" [height]="cardHeight" (sort)="onSort($event)"
                (pageChange)="onPageChange($event)">
                <ng-template myd-select-option let-item>
                    <div class="row m-0 p-0">
                        <div class="col-1 p-0">
                            <div class="col-2" style="max-width: 75px;">
                                <image [src]="item.imageIcon" [height]="35" [imgHeight]="35" [padding]="0"
                                    [caption]="item.firstName" [capTop]="0" [capLeft]="0" [captionPadding]="15"
                                    [captionFontSize]="10">
                                </image>
                            </div>

                        </div>
                        <div class="col-2">
                            <h6 class="font-weight-normal text-muted">
                                {{item.firstName}}
                            </h6>
                        </div>
                        <div class="col-2">
                            <h6 class="font-weight-normal text-muted">
                                {{item.lastName}}
                            </h6>
                        </div>
                        <div class="col-2">
                            <h6 class="font-weight-normal text-muted">
                                {{item.shirtNr}}
                            </h6>
                        </div>
                        <div class="col-2">
                            <h6 class="font-weight-normal text-muted">
                                {{item.countryName}}
                            </h6>
                        </div>

                        <div class="col-2">
                            <h6 class="font-weight-normal text-muted">
                                {{item.dateOfBirth |dateFormat }}
                            </h6>
                        </div>
                        <div class="col-1">
                            <div class="float-right">
                                    <button type="button" class="btn btn-outline-light btn-flat p-0 btn-icon"
                                    (click)="onEdit(item)">
                                        <i class="fas fa-pencil-alt text-primary"></i>
                                    </button>
                                <button type="button" (click)=onDelete(item.id)
                                    class="btn btn-outline-light btn-flat btn-icon p-0">
                                    <i class="fas fa-trash text-danger"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </myd-list>
        </div>

    </div>
</div>

<myd-side-drawer [title]="'Add/Edit teamPlayer'" (close)="onClose($event)" [showDrawer]="showDrader">
    <div body>
        <form name="Form" #userForm="ngForm" method="post" enctype="multipart/form-data" novalidate>

            <div class="row">
                <div class="col-sm-12 col-sm-3 form-group">
                    <img alt="User Image" [src]="imageUser" onerror='this.src="assets/images/no-image.png";'
                        class="el-image el-framed el-circled"
                        style="min-width: 150px; max-width: 150px; min-height: 150px; max-height: 150px;">
                    <br>
                    <label class="fileUpload btn btn-outline-secondary btn-rounded">
                        <i class="fa fa-folder-open-o" aria-hidden="true"></i> Browse
                        <input type="file" name="userImage" class="upload"
                            accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" (change)="onUserImage($event)"
                            hidden />
                    </label>
                    <br>
                </div>
            </div>

            <div class="form-group ">
                <label for="">Team </label>

                <ng-select [items]="teams" [(ngModel)]="teamPlayer.teamId" name="team" bindLabel="name" bindValue="id"
                    [ngModelOptions]="{standalone: true}" class="custom form-control">
                </ng-select>
            </div>

            <div class="form-group">
                <label for=""> First Name <span>*</span> </label>
                <label *ngIf="(userForm.submitted || firstName.touched) && !firstName.valid"
                    class="text-danger float-right"> First Name is required</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder=" First Name"
                    [(ngModel)]="teamPlayer.firstName" #firstName="ngModel" name="firstName" required>

            </div>
            <div class="form-group">
                <label for="">Middle Name </label>
                <input type="text" class="form-control" placeholder="middleName" name="middleName"
                    [(ngModel)]="teamPlayer.middleName" #middleName="ngModel">
            </div>

            <div class="form-group">
                <label for="">Last Name </label>
                <input type="text" class="form-control" placeholder="Last Name" name="lastName"
                    [(ngModel)]="teamPlayer.lastName" #lastName="ngModel">
            </div>
            <div class="form-group">
                <label for="">Shirt Nr </label>
                <input type="text" class="form-control" placeholder="Shirt Nr" name="shirtNr"
                    [(ngModel)]="teamPlayer.shirtNr" #shirtNr="ngModel">
            </div>
            <div class="form-group ">
                <label for="">Date Of Birth </label>
                <input id="dateOfBirth" class="form-control" bsDatepicker [bsConfig]="bsConfig"
                    [(ngModel)]="dateOfBirth" name="dateOfBirth">
            </div>

            <div class="form-group ">
                <label for="">Address<span>*</span> </label>
                <label *ngIf="(userForm.submitted || address.touched) && !address.valid"
                    class="text-danger float-right">Address is required</label>
                <input type="text" class="form-control" placeholder="Address" [(ngModel)]="teamPlayer.address"
                    #address="ngModel" name="address" required>
            </div>
            <div class="form-group ">
                <label for="">Country </label>

                <ng-select [items]="countries" [(ngModel)]="teamPlayer.countryId" (change)="onCountryChange($event)"
                    bindLabel="name" bindValue="id" name="country" [ngModelOptions]="{standalone: true}"
                    class="custom form-control">
                </ng-select>

            </div>
            <div class="form-group ">
                <label for="">State </label>

                <ng-select [items]="states" [(ngModel)]="teamPlayer.stateId" name="state" bindLabel="name"
                    bindValue="id" [ngModelOptions]="{standalone: true}" class="custom form-control">
                </ng-select>
            </div>
            <div class="form-group ">
                <label for="">Zip Code </label>

                <input type="text" class="form-control" placeholder="Zip Code" [(ngModel)]="teamPlayer.zipCode"
                    #zipCode="ngModel" name="zipCode" required>
            </div>
            <div class="form-group custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="isParent"
                        [(ngModel)]="teamPlayer.isDefault">
                    <label class="custom-control-label" for="customCheck1">Is Default Player</label>
                </div>

        </form>
    </div>
    <div footer>
        <button [disabled]="loading" type="submit" class="btn btn-primary float-right "
            (click)="userForm.form.valid && saveTeamPlayer()">Save
            <i class="far fa-long-arrow-right"></i></button>
    </div>
</myd-side-drawer>