
.img-effect {
    background-color: #2d2d30;
}

.carousel-inner .img-effect img {
    transition: all 1s ease;
    opacity: 0.4;
    height: 760px;
}

.carousel-caption {
    top: -18%;
    right: 0%;
    left: 0%;
    bottom: 0px;
    /* text-align: center; */
    width: 40%;
    padding: 20% 0% 0% 6%;
}


.carousel-inner>.carousel-item.active .carousel-caption,
.carousel-inner>.carousel-item.active .carousel-caption h1 {
    display: block;
    transition: 0.5s all;
    /* animation: fadeInLeft .8s linear forwards; */
}

.carousel-inner>.carousel-item.active .carousel-caption p {
    display: block;
    /* animation: fadeInRight .8s linear forwards; */
}

.carousel-caption p {
    font-size: 2em;
}

.carousel-caption h1 {
    font-size: 4em;
} 

.action-button {
    width: 170px;
    background: linear-gradient(198deg, #937fe4, #c53d3dfa);
    font-weight: bold;
    color: white;
    border: 0 none;
    /* border-radius: 25px; */
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  
 .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
  }

  
.page-section {
    padding : 4% 30%;
    background: #fff;
}

.page-section .app img:hover {
    background: rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.page-section .app .app-type {
   padding : 0% 11%;
}

.page-section .app .app-type h3 {
    margin-top : 3%;
}

.page-section .app .app-type p {
    font-size: 1.1em;
}

