<top-nav></top-nav>
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="img-effect">
                    <img src="assets/images/home/img13.png" class="w-100" />
                </div>
                <div class="carousel-caption">
                    <h1 class="zoomIn">
                        <b>REMEMBER THAT GUY THAT GAVE UP?</b>
                    </h1>
                    <p class="zoomIn">
                        Never does anyone else and discover the apps that are empowering over 200,000 youth sports
                        teams.
                    </p>
                    <div class="zoomIn" style="margin-top:10%;">
                        <input type="button" [disabled]="loading" name="learn" class="next action-button"
                            value="Go Back" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="page-animation">
        <section class="page-section">
            <div class="row m-0 text-center">
                <h1 style="margin-bottom:6%;" class="w-100">Feature of Security Management</h1>
            </div>
            <div class="row m-0 app">
                <div class="col-md-4">
                    <img src="assets/images/home/img18.png" height="200" width="200" />
                </div>
                <div class="col-md-8">
                    <div class="app-type">
                        <h3>For Baseball & Softball</h3>
                        <p>GameChanger is a free app for scorekeeping, advanced statistics and
                            live
                            game updates.
                            GameChanger is a free app for scorekeeping, advanced statistics and
                            live</p>
                        <button class="btn action-button text-white">
                            Know More
                        </button>
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 mt-2 app">
                <div class="col-md-4">
                    <img src="assets/images/home/img14.png" height="200" width="200" />
                </div>
                <div class="col-md-8">
                    <div class="app-type">
                        <h3>For Baseball & Softball</h3>
                        <p>GameChanger is a free app for scorekeeping, advanced statistics and
                            live
                            game updates.
                            GameChanger is a free app for scorekeeping, advanced statistics and
                            live
                        </p>
                        <button class="btn action-button text-white">
                            Know More
                        </button>
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 mt-2 app">
                <div class="col-md-4">
                    <img src="assets/images/home/img15.png" height="200" width="200" />
                </div>
                <div class="col-md-8">
                    <div class="app-type">
                        <h3>For Baseball & Softball</h3>
                        <p>GameChanger is a free app for scorekeeping, advanced statistics and
                            live
                            game updates.
                            GameChanger is a free app for scorekeeping, advanced statistics and
                            live</p>
                        <button class="btn action-button text-white">
                            Know More
                        </button>
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 mt-2 app">
                <div class="col-md-4">
                    <img src="assets/images/home/img16.png" height="200" width="200" />
                </div>
                <div class="col-md-8">
                    <div class="app-type">
                        <h3>For Baseball & Softball</h3>
                        <p>GameChanger is a free app for scorekeeping, advanced statistics and
                            live
                            game updates.
                            GameChanger is a free app for scorekeeping, advanced statistics and
                            live</p>
                        <button class="btn action-button text-white">
                            Know More
                        </button>
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 mt-2 app">
                <div class="col-md-4">
                    <img src="assets/images/home/img17.png" height="200" width="200" />
                </div>
                <div class="col-md-8">
                    <div class="app-type">
                        <h3>For Baseball & Softball</h3>
                        <p>GameChanger is a free app for scorekeeping, advanced statistics and
                            live
                            game updates.
                            GameChanger is a free app for scorekeeping, advanced statistics and
                            live</p>
                        <button class="btn action-button text-white">
                            Know More
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<footer-nav></footer-nav>