<div class="drawer drawer-right" id="right-drawer" [ngClass]="{'opened':showDrawer == true}">
    <div class="drawer-content" style="width:600px;">
        <h6 class="drawer-header">{{title}}
            <span class="close" style="margin-top:-4px;" (click)="closeDrawer()">&times;</span>
        </h6>
        <div class="drawer-body">
            <ng-content select="[body]"></ng-content>
        </div>
        <div class="drawer-footer" *ngIf="footer">
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
</div>