<div id="welcome" data-spy="scroll" data-target=".navbar" data-offset="50" class="page-animation">
    <top-nav></top-nav>
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <!-- <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li> -->
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="img-effect">
                        <img src="assets/images/bg_8.jpg">
                    </div>
                    <div class="carousel-caption">
                        <h1>
                            <b> THE GAME HAS CHANGED. </b>
                        </h1>
                        <p>
                            Discover the apps that are empowering over 200,000 youth sports teams.
                        </p>
                    </div>
                </div>
                <!-- <div class="item">
                <div class="c-img-effect">
                    <video autoplay muted loop id="myVideo">
                        <source src="assets/videos/video2.m4v" type="video/mp4">
                    </video>
                </div>
                <div class="carousel-caption">
                    <h1>
                        <b>Exploiting opportunities by diversifying. </b>
                    </h1>
                    <p>
                        We excel in managing your investment by diversifying within our favourites asset classes. Each investment opportunity is
                        duly analysed and continuously monitored.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="c-img-effect">
                    <video autoplay muted loop id="myVideo1">
                        <source src="assets/videos/video3.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel-caption">
                    <h1>
                        <b>We work together for your goals</b>
                    </h1>
                    <p>
                        Your financial needs are our mission, only a sound management of your expectations and risk profile will allow us to take
                        care of your financial objectives.
                    </p>
                </div>
            </div> -->
            </div>
            <!-- Left and right controls -->
            <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previos</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a> -->
        </div>
    </section>
    <div id="page-animation">
        <section class="page-section">
            <div class="row m-0">
                <h1 style="margin-bottom:6%;" class="w-100">Find the right app for your team</h1>
            </div>
            <div class="row m-0 app">
                <div class="col-6">
                    <img src="assets/images/mob.jpg" />
                    <div class="app-type">
                        <h3>For Baseball & Softball</h3>
                        <p>GameChanger is a free app for scorekeeping, advanced statistics and
                            live
                            game updates.</p>
                        <button class="btn btn-primary text-white">
                            Learn More
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <img src="assets/images/mob.jpg" />
                    <div class="app-type">
                        <h3>For Other Sports</h3>
                        <p>DICK'S Team Manager is a free app for scheduling, messaging and photo
                            sharing.</p>
                        <button class="btn btn-primary text-white">
                            Learn More
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>




<!-- <header>
    <div class="claim-lockup">

        <div class="claim">

            <p class="headline text-light">Welcome to Our Golf Club<span>/</span></p>
            <p class="kicker text-light">Enjoy the advantages of the most popular and well-received sport<span>/</span>
            </p>

        </div>

    </div>

    <div class="angled-overlay"></div>

    <div class="slide-out-nav">

        <ul class="mobile-nav">

            <li><a href="#">About</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>

        </ul>

        <div class="mobile-nav-slice" style="transform: rotate(-22.2035deg);"></div>

    </div>

    <div class="mobile-nav-toggle">

        <span></span>
        <span></span>
        <span></span>

    </div>
</header>
<section class="featured">

    <div class="container">

        <div class="row">

            <div class="col-3 feature">

                <i class="icon-suitcase icon-lg"></i>

                <h2>Resources</h2>

                <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl
                    ut dapibus. Mauris iaculis porttitor.</p>

                <a href="http://demo.themefisher.com/others/fitness/">Explore more<i
                        class="icon-arrow-long-right"></i></a>

            </div>

            <div class="col-3 feature">

                <i class="icon-dashboard icon-lg"></i>

                <h2>Training &amp; Funding</h2>

                <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl
                    ut dapibus. Mauris iaculis porttitor.</p>

                <a href="http://demo.themefisher.com/others/fitness/">Browse training<i
                        class="icon-arrow-long-right"></i></a>

            </div>

            <div class="col-3 feature">

                <i class="icon-cloud icon-lg"></i>

                <h2>Connect</h2>

                <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl
                    ut dapibus. Mauris iaculis porttitor.</p>

                <a href="http://demo.themefisher.com/others/fitness/">Connect now<i
                        class="icon-arrow-long-right"></i></a>

            </div>

            <div class="col-3 feature">

                <i class="icon-chat icon-lg"></i>

                <h2>Communicate</h2>

                <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl
                    ut dapibus. Mauris iaculis porttitor.</p>

                <a href="http://demo.themefisher.com/others/fitness/">Start now<i class="icon-arrow-long-right"></i></a>

            </div>

        </div>

    </div>

</section>
<section class="grid">

    <div class="bg-secondary">

        <div class="container">

            <div class="row fitness-first">

                <div class="col-lg-7 text-block">

                    <div class="text-lockup">

                        <h3>It's All About</h3>

                        <h2>Fitness First</h2>

                        <img src="./assets/images/drop-muted.png">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

                        <a href="http://demo.themefisher.com/others/fitness/">Read More</a>

                    </div>

                </div>

                <div class="col-lg-13 large-thumb">

                    <div class="stats">

                        <p>Active Users <span>(34)</span></p>

                        <img src="./assets/images/drop-primary.png">

                    </div>

                </div>

            </div>

            <div class="row love-your-body">

                <div class="col-lg-13 large-thumb">

                    <div class="stats">

                        <p>Products Used <span>(658)</span></p>

                        <img src="./assets/images/drop-primary.png">

                    </div>

                </div>

                <div class="col-lg-7 text-block">

                    <div class="text-lockup">

                        <h3>Love</h3>

                        <h2>Your Body</h2>

                        <img src="./assets/images/drop-muted.png">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

                        <a href="http://demo.themefisher.com/others/fitness/">Read More</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="row mid-unit">

            <div class="col-lg-7 lifestyle">

                <div class="small-thumb"></div>

                <div class="text-block">

                    <div class="text-lockup">

                        <h3>Track Your</h3>

                        <h2>Lifestyle</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

                        <i class="icon-user"></i>

                    </div>

                </div>

            </div>

            <div class="col-lg-13 summer-fun">

                <div class="large-thumb">

                    <p class="date">24th August</p>

                    <div class="category">

                        <p>Health &amp; Fitness</p>

                        <i class="icon-tag"></i>

                    </div>

                </div>

                <div class="text-block">

                    <div class="text-lockup">

                        <h2>Summer of Fun</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

                    </div>

                </div>

            </div>

        </div>

        <div class="row bottom-unit">

            <div class="col-lg-13 get-involved">

                <div class="large-thumb"></div>

                <div class="text-block">

                    <div class="text-lockup">

                        <h3>Helping You</h3>

                        <h2>Get Involved In Yourself</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumdolore eu
                            fugiat nulla pariatur.</p>

                        <img src="./assets/images/strawberry.png">

                    </div>

                </div>

            </div>

            <div class="col-lg-7 eating-habits">

                <div class="small-thumb"></div>

                <div class="text-block">

                    <div class="text-lockup">

                        <h3>Improve Your</h3>

                        <h2>Eating Habits</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

                        <img src="./assets/images/avocado.png">

                    </div>

                </div>

            </div>

        </div>

    </div>

</section> -->
<footer-nav></footer-nav>