@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



/* New Css */
/* 
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-indicators .active {
    width: 30px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #000;
    opacity: 1;
}

.carousel-indicators li {
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
    background-color: #fff;
    opacity: .4;
}

.img-effect .carousel-img {
    transition: all 1s ease;
    opacity: 0.3;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.carousel-control.left .fa.fa-angle-left,
.carousel-control.right .fa.fa-angle-right {
    position: absolute;
    top: 45%;
    font-size: 3em;
}

.carousel-control.left {
    width: 5%;
}

.carousel-control.right {
    width: 6%;
}

*/

.img-effect {
    background-color: #2d2d30;
}

.carousel-inner .img-effect img {
    transition: all 1s ease;
    opacity: 0.4;
    height: 630px;
}


.carousel-caption {
    top: -18%;
    right: 0%;
    left: 0%;
    bottom: 0px;
    /* text-align: center; */
    padding: 21%;
}


.carousel-inner>.carousel-item.active .carousel-caption,
.carousel-inner>.carousel-item.active .carousel-caption h1 {
    display: block;
    transition: 0.5s all;
    animation: fadeInLeft .8s linear forwards;
}

.carousel-inner>.carousel-item.active .carousel-caption p {
    display: block;
    animation: fadeInRight .8s linear forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.carousel-caption p {
    font-size: 2em;
}

.carousel-caption h1 {
    font-size: 4em;
} 


.page-section {
    padding : 4% 2%;
    background: #fff;
    text-align: center !important;
}

.page-section .app img:hover {
    background: rgba(0,0,0,0.5);
}

.page-section .app .app-type {
   padding : 0% 11%;
}

.page-section .app .app-type h3 {
    margin-top : 3%;
}

.page-section .app .app-type p {
    font-size: 1.5em;
}

.page-section h1{
    font-size: 3em;
}


.action-button {
    width: 170px;
    background: linear-gradient(198deg, #937fe4, #c53d3dfa);
    font-weight: bold;
    color: white;
    border: 0 none;
    /* border-radius: 25px; */
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  
 .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
  }
