<div class="container-fluid pl-0 pr-0 login bg-transparent" busy [showLoading]="loading">
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 banner-sec">
                    <div class="text-white p-5">
                        <h2>This is Heaven</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation</p>
                    </div>
                </div>
                <div class="col-md-6 card card-login login-sec">
                    <form id="msform" name="Form" #userForm="ngForm" method="post" enctype="multipart/form-data"
                        novalidate>
                        <fieldset>
                            <h2 class="fs-title">Login</h2>
                            <div class="form-group">
                                <label for="" class="float-left mb-2">UserName / Email <span>*</span> </label>
                                <label *ngIf="(userForm.submitted || userName.touched) && !userName.valid"
                                    class="text-danger float-right">Email/User Name is required</label>
                                <input [readonly]="loading" type="email" class="form-control"
                                    aria-describedby="emailHelp" placeholder="User Name"
                                    [(ngModel)]="loginModel.userName" #userName="ngModel" name="userName" required>
                            </div>
                            <div class="form-group">
                                <label for="" class="float-left mb-2">Password <span>*</span> </label>
                                <label
                                    *ngIf="(userForm.submitted || password.touched || password.dirty ) && !password.valid"
                                    class="text-danger float-right">Password is required</label>

                                <input [readonly]="loading" type="password" class="form-control" placeholder="Password"
                                    name="password" [(ngModel)]="loginModel.password" #password="ngModel" required>
                            </div>
                            <div class="row m-0">
                                <div class="w-100">
                                    <input type="button" [disabled]="loading" name="login"
                                        class="next action-button float-right" value="Login"
                                        (click)="userForm.form.valid && onLogin()" />
                                    <input type="button" [disabled]="loading" name="forgot password ?"
                                        class="next action-fgt-button float-left" value="Forgot Password"
                                        (click)="onForgotPassword()" />
                                </div>
                            </div>
                            <div class="row m-0">
                                <input type="button" [disabled]="loading" name="signup"
                                    class="next action-button w-100 float-right" value="Dont have an account ? Sign Up!"
                                    (click)="onSignUpClick()" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>