<top-nav></top-nav>
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="img-effect">
                    <img src="assets/images/home/img12.jpg" class="w-100" />
                </div>
                <div class="carousel-caption">
                    <h1 class="zoomIn">
                        <b>LOREM IPSUM YOU DON'T DESERVE IT</b>
                    </h1>
                    <p class="zoomIn">
                        Discover the apps that are empowering over 200,000 youth sports teams.
                    </p>
                    <div class="zoomIn" style="margin-top:10%;">
                        <input type="button" [disabled]="loading" name="learn" class="next action-button"
                            value="Review" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer-nav></footer-nav>