<div class="row" style="margin-top: 60px;">

    <div class="col-9">
        <div class="card">
            <div class="row ml-1 mr-1">
                <div class="col border" style="min-height:50px;">
                    <h3> Matchup </h3>
                </div>
                <ng-template ngFor let-matchQuater [ngForOf]="matchQuaters" let-index="index">
                    <div class="col border">
                        <div class="row">
                            <div class="col-sm-5">
                                <h5 *ngIf="!matchQuater.isOverTime"> Q{{matchQuater.quarterNr}} </h5>
                                <h5 *ngIf="matchQuater.isOverTime"> OT </h5>

                            </div>
                            <div class="col-sm-7">

                                <div class="float-right">


                                </div>
                                <div class="float-right">
                                    <button *ngIf="!matchQuater.start || matchQuater.isPaused == true" title="Start"
                                        class="btn btn-primary btn-sm float-right" type="button"
                                        (click)="onSessionStart(matchQuater.id)" style="font-size: 16px;">
                                        <i class="fas fa-play"></i>
                                    </button>

                                    <button title="Paused" *ngIf="matchQuater.start  && !matchQuater.end "
                                        class="btn btn-warning btn-sm text-white" type="button"
                                        (click)="onSessionPause(matchQuater.id)"
                                        style="font-size: 16px; margin-right: 3px;">
                                        <i class="fas fa-pause"></i>
                                    </button>

                                    <button
                                        *ngIf="( matchQuater.start && !matchQuater.end && matchQuater.isPaused == false)  "
                                        title="Stop" class="btn btn-danger btn-sm float-right" type="button"
                                        (click)="onSessionEnd(matchQuater.id)" style="font-size: 16px;">
                                        <i class="fas fa-stop"></i>
                                    </button>
                                </div>


                            </div>
                        </div>


                    </div>

                </ng-template>

                <div class="col border">
                    <h3> Total </h3>
                </div>

            </div>
            <div class="row ml-1 mr-1">
                <div class="col border" style="min-height:50px;">
                    <h3> {{teamA.name}} </h3>
                </div>
                <ng-template ngFor let-matchQuater [ngForOf]="matchQuaters" let-index="index">
                    <div class="col border">
                        <h3 *ngIf="matchQuater.teamAMatchSummary"> {{matchQuater.teamAMatchSummary.TPTS}} </h3>
                    </div>

                </ng-template>

                <div class="col border">
                    <h3 *ngIf="teamAMatchSummary"> {{teamAMatchSummary.TPTS}} </h3>
                </div>

            </div>
            <div class="row ml-1 mr-1">
                <div class="col border" style="min-height:50px;">
                    <h3> {{teamB.name}} </h3>
                </div>
                <ng-template ngFor let-matchQuater [ngForOf]="matchQuaters" let-index="index">
                    <div class="col border">
                        <h3 *ngIf="matchQuater.teamBMatchSummary"> {{matchQuater.teamBMatchSummary.TPTS}} </h3>
                    </div>

                </ng-template>
                <div class="col border">
                    <h3 *ngIf="teamBMatchSummary"> {{teamBMatchSummary.TPTS}} </h3>
                </div>

            </div>

        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col">
                <button class="btn btn-danger ripple nav-button float-right" type="button" (click)="finishMatch()">
                    End Match <i class="fas fa-stop"></i>
                </button>
            </div>
        </div>
        <div class="row mt-1" *ngIf="showOverTime">
            <div class="col">
                <button class="btn btn-info ripple nav-button float-right" type="button"
                    (click)="saveBasketBallOverTimeSession()">
                    Start Overtime <i class="far fa-clock"></i>
                </button>
            </div>
        </div>

    </div>


</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <myd-tab (tabChanged)="onTabChanged($event)" [tabItems]="tabs"> </myd-tab>
                    </div>
                </div>
                <div class="row" *ngIf="selectedTab ==1">
                    <div class="col" style="max-height:500px;overflow-y: scroll;">
                        <ng-template ngFor let-playByPlay [ngForOf]="playByPlays" let-index="index">
                            <div class="row border-bottom">
                                <div class="col">
                                    <h3> {{playByPlay.field3}}</h3>
                                    <h5>{{playByPlay.field4}}</h5>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="row" *ngIf="selectedTab ==2">
                    <div class="card-body">
                        <div class="row border-bottom" style="font-weight: bold;">
                            <div class="col-1"> In</div>
                            <div class="col-4"> Name</div>
                            <div class="col-1"> Nr. </div>
                            <div class="col-1"> Points</div>
                            <div class="col-1"> Fouls</div>
                            <div class="col-1"> Reb</div>
                            <div class="col-1"> Ast</div>
                            <div class="col-1"> Blk</div>
                            <div class="col-1"> Stl</div>
                        </div>

                        <ng-template ngFor let-player [ngForOf]="teamAPlayers" let-index="index">

                            <div class="row m-0 p-0" style="height: 50px">
                                <div class="col-2 border-bottom border-right pull-left">
                                    <div class="form-group custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1_{{index}}"
                                            name="isParent" [(ngModel)]="player.isInMatch"
                                            (change)="onInMatchChanged('A',player)">
                                        <label class="custom-control-label" for="customCheck1_{{index}}"></label>
                                        <button *ngIf="player.isInMatch" type="button"
                                            class="btn btn btn-outline-danger btn-sm pull-right"
                                            style="padding-left: 5px; padding-top: 5px;"
                                            (click)="showPlayerChangeDrawer('A', player)"><i
                                                class="fas fa-exchange-alt"></i></button>
                                    </div>
                                    <div class="pull-right">

                                    </div>
                                </div>

                                <div class="col-3  border-bottom border-right" style="padding-top: 10px;">
                                    <span class="align-middle"> {{player.firstName}} {{player.lastName}}</span>

                                </div>
                                <div class="col-1 border-bottom border-right" style="padding-top: 10px;">
                                    {{player.shirtNr}}
                                </div>
                                <div class="col-1 border-bottom border-right" style="padding-top: 10px;">
                                    {{player.statics.TPTS}}

                                </div>
                                <div class="col-1 border-bottom border-right" style="padding-top: 10px;">
                                    {{ player.statics.TFLS}}
                                </div>
                                <div class="col-1 border-bottom border-right">{{player.statics.REB}}</div>
                                <div class="col-1 border-bottom border-right"> {{player.statics.AST}}</div>
                                <div class="col-1 border-bottom border-right"> {{player.statics.BLK}}</div>
                                <div class="col-1 border-bottom border-right"> {{player.statics.STL}}</div>
                            </div>

                        </ng-template>
                    </div>
                </div>
                <div class="row" *ngIf="selectedTab ==3">

                    <div class="card-body">
                        <div class="row border-bottom" style="font-weight: bold;">

                            <div class="col-1"> In</div>
                            <div class="col-4"> Name</div>
                            <div class="col-1"> Nr. </div>
                            <div class="col-1"> Points</div>
                            <div class="col-1"> Fouls</div>
                            <div class="col-1"> Reb</div>
                            <div class="col-1"> Ast</div>
                            <div class="col-1"> Blk</div>
                            <div class="col-1"> Stl</div>
                        </div>

                        <ng-template ngFor let-player [ngForOf]="teamBPlayers" let-index="index">

                            <div class="row m-0 p-0" style="min-height: 50px">
                                <div class="col-2 border-bottom border-right pull-left">
                                    <div class="form-group custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1_{{index}}"
                                            name="isParent" [(ngModel)]="player.isInMatch"
                                            (change)="onInMatchChanged('B',player)">
                                        <label class="custom-control-label" for="customCheck1_{{index}}"></label>
                                        <button *ngIf="player.isInMatch" type="button"
                                            class="btn btn btn-outline-danger btn-sm pull-right"
                                            style="padding-left: 5px; padding-top: 5px;"
                                            (click)="showPlayerChangeDrawer('B', player)"><i
                                                class="fas fa-exchange-alt"></i></button>
                                    </div>
                                    <div class="pull-right">

                                    </div>
                                </div>

                                <div class="col-3  border-bottom border-right" style="padding-top: 10px;">
                                    <span class="align-middle"> {{player.firstName}} {{player.lastName}}</span>

                                </div>
                                <div class="col-1 border-bottom border-right" style="padding-top: 10px;">
                                    {{player.shirtNr}}
                                </div>
                                <div class="col-1 border-bottom border-right" style="padding-top: 10px;">
                                    {{player.statics.TPTS}}

                                </div>
                                <div class="col-1 border-bottom border-right" style="padding-top: 10px;">
                                    {{ player.statics.TFLS}}
                                </div>
                                <div class="col-1 border-bottom border-right">{{player.statics.REB}}</div>
                                <div class="col-1 border-bottom border-right"> {{player.statics.AST}}</div>
                                <div class="col-1 border-bottom border-right"> {{player.statics.BLK}}</div>
                                <div class="col-1 border-bottom border-right"> {{player.statics.STL}}</div>
                            </div>

                        </ng-template>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-dark btn-score">Home</button>
                        <ng-template ngFor let-player [ngForOf]="teamAInMatchPlayers" let-index="index">
                            <button type="button" class="btn btn-score btn-margin-l-10"
                                [class.btn-selected]="player.selected"
                                (click)="onSelectScorePlayer('A',player)">{{player.shirtNr}}</button>
                        </ng-template>


                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-dark btn-score">Vistor</button>

                        <ng-template ngFor let-player [ngForOf]="teamBInMatchPlayers" let-index="index">
                            <button type="button" class="btn  btn-score btn-margin-l-10"
                                [class.btn-selected]="player.selected"
                                (click)="onSelectScorePlayer('B',player)">{{player.shirtNr}}</button>
                        </ng-template>
                        <!-- <button type="button" class="btn btn-dark btn-score btn-margin-l-10">1</button>
                        <button type="button" class="btn btn-dark btn-score btn-margin-l-10">2</button>
                        <button type="button" class="btn btn-dark btn-score btn-margin-l-10">3</button>
                        <button type="button" class="btn btn-dark btn-score btn-margin-l-10">4</button>
                        <button type="button" class="btn btn-dark btn-score btn-margin-l-10">5</button> -->

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <!-- <button type="button" class="btn btn-outline btn-score  text-point" (click)="addScore('PTM1')">1
                            PT
                            Made</button> -->
                        <button type="button" class="btn btn-outline btn-score text-point" (click)="addScore('PTM2')">2
                            PT
                            Made</button>
                        <button type="button" class="btn btn-outline btn-score btn-margin-l-10 text-point"
                            (click)="addScore('PTM3')">3 PT Made</button>
                        <!-- <button type="button" class="btn btn-outline  btn-score btn-margin-l-10 text-foul"
                            (click)="addScore('FGA1')">1 PT
                            Miss</button> -->
                        <button type="button" class="btn btn-outline  btn-score btn-margin-l-10 text-foul"
                            (click)="addScore('FGA2')">2 PT
                            Miss</button>
                        <button type="button" class="btn btn-outline  btn-score btn-margin-l-10 text-foul"
                            (click)="addScore('FGA3')">3 PT Miss</button>

                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('FTM')"> FT
                            <br> Made
                        </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('FTA')">
                            FT <br> Attempted</button>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn  btn-score" (click)="addScore('AST')"> Assist </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('STL')"> Steal
                        </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('BLK')"> Block
                        </button>
                        <button type="button" class="btn btn-score btn-margin-l-10" (click)="addScore('OREB')"> <span>
                                Off</span> <br> <span>
                                Rebound</span> </button>
                        <button type="button" class="btn btn-score btn-margin-l-10" (click)="addScore('DREB')"><span>
                                Def</span> <br>
                            <span> Rebound</span> </button>
                        <button type="button" class="btn btn-score btn-margin-l-10" (click)="addScore('PBM')"> <span>
                                Putback</span>
                            <br> <span> Made</span> </button>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn  btn-score " (click)="addScore('PBA')"> <span>
                                Putback</span>
                            <br> <span> Miss</span> </button>
                        <button type="button" class="btn btn-score btn-margin-l-10" (click)="addScore('TOV')"> TrunOver
                        </button>
                        <button type="button" class="btn btn-outline  btn-score btn-margin-l-10"
                            (click)="addScore('FTOV')"><span>
                                Froced</span>
                            <br> <span> TrunOver</span></button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('TCH')"> <span>
                                Take</span>
                            <br> <span> Charge</span> </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('FRST')"> <span>
                                Froced Rush</span>
                            <br> <span> Shot</span> </button>

                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('FJMP')"> Force
                            <br>
                            Jump </button>

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn  btn-score" (click)="addScore('PEF')"> Personal<br> Fouls
                        </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('DEF')">
                            Defensive <br> Fouls </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('OFF')">
                            Offensive <br> Fouls </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('FFF')"> Flagrant
                            <br> Foul </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('TEF')">
                            Technical<br> Fouls </button>
                        <button type="button" class="btn btn-outline  btn-score btn-margin-l-10"
                            (click)="addScore('DFF')"> Deflect</button>

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">

                        <button type="button" class="btn  btn-score" (click)="addScore('LAYM')">
                            Layup </button>
                        <button type="button" class="btn  btn-score btn-margin-l-10" (click)="addScore('LAYA')">
                            Layup
                            <br> Miss
                        </button>

                    </div>
                </div>


            </div>



        </div>
    </div>
</div>







<myd-side-drawer [title]="'Change Player'" (close)="onClose($event)" [showDrawer]="showDrader">
    <div body>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action" *ngFor="let player of exchangePlayers">
                <div class="row">
                    <div class="col-9">
                        <h5 class="font-weight-normal pl-0 padding-top">
                            <span> {{player.firstName}} {{player.middleName}} {{player.lastName}} </span>

                            <span style="padding-left: 30px;"> Shirt Nr: {{player.shirtNr}} </span> </h5>
                    </div>
                    <div class="col-3 pr-0">
                        <button type="button" class="btn btn-outline-light btn-flat btn-rounded float-right"
                            style="height:40px;" (click)="onPlayerExchange(player)">
                            Change
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div footer>

    </div>
</myd-side-drawer>