 footer {
     padding: 2% 16%;
     background: #f2f3f4;
     border-top: 1px solid #ddd;
 }

 footer h6{
     color : #879399;
 }
 
 footer .footer-item{
    line-height: normal;
    font-size: 13px!important;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
 }

 footer .footer-item li {
     padding: 10px 0px;
 }