<footer>
    <div class="row m-0">
        <div class="col-3">
            <h6>GAMECHANGER</h6>
            <ul class="footer-item">
                <li>
                    How it works
                </li>
                <li>
                    Support
                </li>
                <li>
                    Pricing
                </li>
                <li>
                    Find Teams
                </li>
                <li>
                    Create your Team
                </li>
                <li>
                    Download the App
                </li>
            </ul>
        </div>
        <div class="col-3">
            <h6>DICK'S TEAM MANAGER</h6>
            <ul class="footer-item">
                <li>
                    How it works
                </li>
                <li>
                    Support
                </li>
                <li>
                    Download the App
                </li>
            </ul>
        </div>
        <div class="col-2">
            <h6>CONNECT</h6>
            <ul class="footer-item">
                <li>
                    Product Blog
                </li>
                <li>
                    Tech Blog
                </li>
                <li>
                    TheSeason
                </li>
            </ul>
        </div>
        <div class="col-2">
            <h6>COMPANY</h6>
            <ul class="footer-item">
                <li>
                    About Us
                </li>
                <li>
                    Our Team
                </li>
                <li>
                    Carreers
                </li>
            </ul>
        </div>
        <div class="col-2">
          <img class="w-100" src="assets/images/2.jpg" />
          <p style="font-size:10px;">GameChanger is a proud member of the DICK’S Sporting Goods family.</p>
        </div>
    </div>
    <div class="row m-0 border-top text-center">
        <h6 class="w-100 mt-2 mb-0">
            @Premier App 2019
        </h6>
    </div>
</footer>